{% extends "modifiedbase.html" %}

{% block content %}

{% if my_stumps %}
	<p class=headline>{{ username }}'s Stump Harvest</p>
	<table>
	{% for stump in my_stumps %}
        <tr>
			<td class="tablelink"><a class=copyable target=_blank id={{ stump.shorturl }} href="http://{{ stumpy_domain }}/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</span></td>
			<td class="tablehits">{{ stump.hits }}</td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>	
	{% endfor %}
	</table>
{% endif %}

{% endblock %}
