{% extends "base.html" %}

{% block content %}
	<div class=header>
		<h1>STUMPy</h1>
		<h2>A Mutaku URL shortener by xiao_haozi</h2>
		<div class=sub-info>
			<p>Stumped? Drag the button (bookmarklet) below to your browser bookmark bar to save the stumpy bookmarklet. Whenever you want to shorten the page you are currently viewing, simply click 'stumpy it!' and you will get your shortened version. The Harvest Stumps button will allow logged in users to slide in an iframe that lists all the stumps they have personally created. Like the Stumpy It bookmarklet, drag this button to your browser bar and you can access your stumps from any page.</p>

{% if stumpy_domain %}
			<p class=booky>
				<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://{{ stumpy_domain }}/static/bookmarklet.js';})();">&#8620;&nbsp;Stumpy it!</a>
				<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://{{ stumpy_domain }}/static/iframer.js';})();">&#8620;&nbsp;Harvest Stumps!</a>
			</p>
{% else %}
			<p class=booky>Can't grab domain for bookmarklet!</p>
{% endif %}
	</div>

{% if stump_stats_num and stump_stats_visits %}
	<p class=lister>{{ stump_stats_num }} stump{{ stump_stats_num|pluralize }} tripped over {{ stump_stats_visits }} time{{ stump_stats_visits|pluralize }}</p>
{% else %}
	<p class=lister>uknown stump statistics</p>
{% endif %}

{% if recent_stumps_list %}
    <p class=lister> fresh cut stumps</p>
    <table>
    {% for stump in recent_stumps_list %}
		<tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No stumps are available.</p>
{% endif %}

{% if famous_stumps_list %}
    <p class=lister> famous stumps in history</p>
    <table>
    {% for stump in famous_stumps_list %}
        <tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tablehits">{{ stump.hits }}</td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>
	{% endfor %}
    </table>
{% else %}
    <p>No stumps are available.</p>
{% endif %}

{% if my_stumps %}
	<p class=lister> stumps cut by you</p>
	<table>
	{% for stump in my_stumps %}
        <tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tablehits">{{ stump.hits }}</td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>	
	{% endfor %}
	</table>
{% endif %}

{% endblock %}
